.menu {
  margin: 0 200px;
  justify-self: start;

  .menu-icon {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }

  .drawer-list {
    width: 200px;
  }
}
