.forecast-card {
  height: 90%;
  width: 80%;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;

  .city-info {
    height: 100%;
    width: 100%;

    .city-name-date {
      display: grid;
      grid-gap: 10px;
      margin-bottom: 50px;
      position: relative;

      .city-name-fav-btn {
        display: grid;
        width: fit-content;
        grid-template-columns: 3fr 1fr;
        .favorite-icon {
          font-size: 35px;

          margin-top: 20px;
          margin-left: 20px;
          cursor: pointer;
        }
      }

      .fav-clicked {
        color: red;
      }

      .city-name {
        font-weight: 600;
        font-size: 100px;
      }

      .date {
        font-size: 30px;
      }
    }

    .status {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .status-icon {
        height: 60px;
      }

      .weather-status {
        font-weight: 500;
        font-size: 50px;
      }
    }
  }

  .current-temp {
    font-size: 150px;
    justify-self: end;
    align-self: start;
  }
}

@media (max-width: 1200px) {
  .forecast-card {
    .city-info {
      .city-name-date {
        .favorite-icon {
          right: 0px;
        }

        .city-name {
          font-size: 80px;
        }

        .date {
          font-size: 25px;
        }
      }
    }
    .current-temp {
      font-size: 100px;
    }
  }
}

@media (max-width: 768px) {
  .forecast-card {
    grid-template-columns: unset;

    .city-info {
      width: fit-content;
      .city-name-date {
        .favorite-icon {
          right: 0;
          width: 20%;
        }
      }
    }

    .current-temp {
      grid-row: 1/2;
      justify-self: center;
    }
  }
}

@media (max-width: 425px) {
  .forecast-card {
    .city-info {
      .city-name-date {
        .city-name {
          font-size: 50px;
        }
      }

      .status {
        .weather-status {
          font-size: 35px;
        }
      }
    }
  }
}
