.search {
  .search-input {
    border: 2px solid $font-color;
    border-radius: 25px;
    width: 300px;
    color: $font-color;

    input {
      padding: 15px;
      background: none;
      border: none;
      width: calc(100% - 65px);
      font-size: 15px;
      outline: none;
      color: $font-color;

      &::placeholder {
        color: $font-color;
        font-size: 15px;
      }
    }

    i {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .search {
    width: 40%;
    .search-input {
      width: 100%;
    }
  }
}
