@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

$primary: #0093e9;
$font-color: white;
$favorite-color: red;
$dark-mode-color: #232526;

a {
  text-decoration: none;
  color: $font-color;
}

.app {
  background-image: linear-gradient(160deg, $primary 0%, #80d0c7 100%);

  display: grid;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
  color: $font-color;
  font-weight: 500;
  grid-template-rows: 15% 85%;
}

.dark-mode {
  background: $dark-mode-color;
  background: -webkit-linear-gradient(to left, #414345, $dark-mode-color);
  background: linear-gradient(to left, #414345, $dark-mode-color);
  input {
    color: $font-color;
  }
  color: $font-color;
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

.center-items {
  display: grid;
  justify-items: center;
  align-items: center;
}

.bold-text {
  font-weight: 600;
}
