.search-bar {
  .search-input {
    padding: 10px 20px;
    display: flex;
    grid-gap: 20px;
    width: fit-content;
    justify-items: center;
    align-items: center;
    border: 1px solid $font-color;
    border-radius: 25px;

    input {
      font-size: 18px;
      outline: none;
      border: none;
      color: $font-color;
      background: none;

      &::placeholder {
        color: $font-color;
      }
    }

    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
